#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


.body {
  max-width: none;
  font-family: 'Noto Sans', sans-serif;
  color: #27221f;
  font-size: 16px;
  line-height: 1.4;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: #27221f;
  font-size: 40px;
  line-height: 1.4;
  font-weight: 400;
  text-align: left;
}

.heading2 {
  color: #27221f;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  padding-top: 32px;

}

h2 {
  padding-top: 16px;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: sticky;
  top: 0px;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px
}

.topnav a:hover {
  background-color: #27221f;
  color: #ffffff;
  text-decoration: none;
}

.topnav a.active {
  background-color: #ffffff color: #27221f
}

.topnav-right {
  float: right;
}

a {
  color: #27221f;
}

a:hover {
  color: #d6f300;
}

#showcase {
  height: 640px;
  overflow: visible !important;
}

.showcase-container {
  max-width: 936px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  margin-top: 48px;
  padding: 0px;
  opacity: 1;
}

.card {
  width: 260px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 50);
  border: 2px black solid;
  border-radius: 12px;
}


.card h2 {
  margin: 0 0 72px 0;
}

.card a {
  font-size: 18px;
  display: block;
}

.card p {
  font-size: 15px;
}

.nav {
  width: 32px;
  height: 67px;
  color: #27221f;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 50%;
}

.nav:active,
.nav.down {
  backgorund: #FFFFFF;
  border: solid 2px rgba (0, 0, 0, 0.55);
}

.nav.left {
  left: -43px;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.nav.right {
  right: -43px;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.intro-section {
  margin-top: 0px;
  margin-bottom: 0px;
}

.intro-container {
  max-width: 936px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
  padding: 0px;
  opacity: 1;
}

.container {
  max-width: 936px;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding: 0px;
  opacity: 1;
}
svg {
    max-width: 50%;
    width: 50%;
    height: auto;
}
.row {
  margin-top: -25px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"]{
  float: left;
  padding: 16px;
}

.footer-container {
  max-width: 936px;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
  padding: 64px 64;
  opacity: 1;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.center-align {
  text-align: center;
}

.social-icons {
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #27221f;
  color: white;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.9;
}
.button.contact {
  background-color: transparent;
  color: #27221f;
  text-transform: uppercase;
  border: 2px solid #27221f;
}

a {
  color: #27221f;
  text-decoration: none;
}

a:hover {
  color: #ACCA70;
  text-decoration: underline;
}
@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}


@media screen and (max-width: 991px) {
  .heading {
    margin-bottom: 0px;
    padding-top: 0px;
    font-size: 32px;
    line-height: 1.4;
    text-align: left;
  }

  .navbar-container {
    margin-right: 24px;
    margin-left: 24px;
  }

  .footer-section {
    margin-top: 0px;
    margin-bottom: 64px;
  }

  .footer-container {
    max-width: 936px;
    margin-top: 128px;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 64;
    opacity: 1;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

}

@media screen and (max-width: 767px) {
  .intro-section {
    padding-top: 0px;
  }

  .heading {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    text-align: left;
  }
  .card {
    width: 212px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 50);
    border: 2px black solid;
    border-radius: 12px;
  }
  .intro-container {
    max-width: 936px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    padding: 32px;
    opacity: 1;
  }
  .container {
    max-width: 936px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    padding: 32px;
    opacity: 1;
  }
  .showcase-container {
    max-width: 936px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    padding: 0px;
    opacity: 1;
  }
  .nav {
    width: 32px;
    height: 67px;
    color: #27221f;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 110%;
  }
  .navbar-container {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav.left {
    left: 90px;
    -webkit-border-radius: 0px 0px;
    -moz-border-radius: 0px 0px;
    border-radius: 0px 0px 0px 0px;
  }

  .nav.right {
    right: 90px;
    -webkit-border-radius: 0px 0px;
    -moz-border-radius: 0px 0px;
    border-radius: 0px 0px 0px 0px;
    opacity: 0;
  }
  .footer-section {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-container {
    max-width: 936px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 1;

    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }
}

@media screen and (max-width: 479px) {
  .topnav a {
    float: left;
    color: #ffffff text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    font-size: 16px
  }
  .intro-section {
    padding-top: 0px;
  }

  .heading {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 24px;
    text-align: center;
  }
.heading2 {
  font-size: 20px;
}
  .intro-container {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
  }
  .container {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
  }
  .card {
    width: 130px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 50);
    border: 2px black solid;
    border-radius: 12px;
  }


  .card h2 {
    margin: 0 0 56px 0;
    font-size: 17px;
  }

  .card a {
    font-size: 14px;
    display: block;
  }

  .card p {
    font-size: 12px;
  }

.p {
  font-size: 17;
}

#showcase {
  height: 470px;
  overflow: visible !important;
}
.showcase-container {
  max-width: 936px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding: 0px;
  opacity: 1;
}
  .navbar-container {
    margin-right: 16px;
    margin-left: 16px;
  }
  .footer-section {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-container {
    max-width: 936px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 32px;
    padding-top: 0px;
    opacity: 1;
    font-size:17px;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }
  .nav.left {
    left: 90px;
    -webkit-border-radius: 0px 0px;
    -moz-border-radius: 0px 0px;
    border-radius: 0px 0px 0px 0px;
  }

  .nav.right {
    right: 90px;
    -webkit-border-radius: 0px 0px;
    -moz-border-radius: 0px 0px;
    border-radius: 0px 0px 0px 0px;
  }
  .nav {
    width: 32px;
    height: 67px;
    color: #27221f;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 84%;
  }
}
