.body {
  max-width: none;
  font-family: 'Noto Sans', sans-serif;
  color: #27221f;
  font-size: 16px;
  line-height: 1.4;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  color: #ffffff text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px
}

.topnav a:hover {
  background-color: #27221f;
  color: #ffffff;
}

.topnav a.active {
  background-color: #ffffff color: #27221f
}

.topnav-right {
  float: right;
}

a {
  color: #27221f;
}

a:hover {
  color: #d6f300;
}

#showcase {
  height: 570px;
  overflow: visible !important;
}

.card {
  width: 260px;
  padding: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.card h2 {
  margin: 0 0 72px 0;
}

.card a {
  font-size: 18px;
  display: block;
}

.card p {
  font-size: 15px;
}

.nav {
  width: 32px;
  height: 67px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 33%;
}

.nav:active,
.nav.down {
  backgorund: #FFFFFF;
  border: solid 2px rgba (0, 0, 0, 0.55);
}

.nav.left {
  left: -43px;
  -webkit-border-radius: 12px 5px 5px 12px;
  -moz-border-radius: 12px 5px 5px 12px;
  border-radius: 12px 5px 5px 12px;
}

.nav.right {
  right: -43px;
  -webkit-border-radius: 5px 12px 12px 5px;
  -moz-border-radius: 5px 12px 12px 5px;
  border-radius: 5px 12px 12px 5px;
}
}

.intro-section {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading {
  height: 108px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: #27221f;
  font-size: 40px;
  line-height: 1.4;
  font-weight: 400;
  text-align: left;
}

.heading2 {
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: #27221f;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}

.intro-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 64px 64px;
  opacity: 1;
}

.about-container {
  margin-left: auto;
  margin-right: auto;
  padding: 16px, 0px;
}

.about-right {
  margin-right: auto;
  margin-left: auto;
  padding-top: 64px;
}

.footer-section {
  margin-top: 0px;
  margin-bottom: 64px;
}

.footer-container {
  max-width: 936px;
  margin-right: auto;
  margin-left: auto;
  padding: 64px 64px;
  opacity: 1;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.center-align {
  text-align: center;
}

.social-icons {
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #27221f;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact {
  background-color: transparent;
  color: #27221f;
  text-transform: uppercase;
  border: 2px solid #27221f;
}

a {
  color: #27221f;
  text-decoration: none;
}

a:hover {
  color: #ACCA70;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
